html{
    margin:0;
    padding: 0;
    background-color: aquamarine;
}
#chatScreen{
    height: 45em;
    width: 70%;
    border: 2px solid black;
    margin-bottom: 8px;
    border-radius: 10px;
    padding: 1em;
    background-color: rgb(217, 235, 235);
    overflow-y: auto;
    float:left;
    
}
#chatInput {
    box-sizing: border-box; /* Include border and padding in the specified width */
    border: 1px solid black;
    height: 5em;
    width: 100%;
    max-width: 67.5em;
    border-radius: 10px;
    padding: 1em;
    background-color: rgb(217, 235, 235);
    font-size: 1.5em;
    resize: none;
    word-break: break-word;
  white-space: normal;
  float: left;

  }
  #chatRooms {
    height: 47em;
     float:left;
     width: 20%;
     margin-left: 1em;
     border: 2px solid black;
     border-radius: 10px;
     background-color: rgb(217, 235, 235);
}
  
  
.message{
    margin: 1em;
    white-space: normal;
    word-break: break-word;
}
#clearButton{
    float:left;
    margin-left:1em ;
    font-size: 1.5em;
    border-radius: 10px;
    border: 2px solid black;
}
#clearButton:hover{
    background-color: aqua;
}